.Application {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	overflow-x: hidden;

	.content > * {
		height: 100%;
		width: 100%;
	}

	.Container {
		position: relative;
	}

	.maxHeightWidth {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}
